In [ ]:
!pip install SQLAlchemy==2.0.35

Collecting SQLAlchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 24.8 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.46) (3.0.0)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.21
    Uninstalling SQLAlchemy-2.0.21:
      Successfully uninstalled SQLAlchemy-2.0.21
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.46 which is incompatible.
Successfully installed SQLAlchemy-1.4.46

In [ ]:
!pip install pandasql
import pandas as pd
import pandasql as psql
Course=pd.read_excel("https://github.com/ogut77/University/blob/main/Course.xlsx?raw=true")
Faculty=pd.read_excel("https://github.com/ogut77/University/blob/main/Faculty.xlsx?raw=true")
Student=pd.read_excel("https://github.com/ogut77/University/blob/main/Student.xlsx?raw=true")
Enrollment=pd.read_excel("https://github.com/ogut77/University/blob/main/Enrollment.xlsx?raw=true")
Offering=pd.read_excel("https://github.com/ogut77/University/blob/main/Offering.xlsx?raw=true")
Faculty_1=pd.read_excel("https://github.com/ogut77/University/blob/main/Faculty_1.xlsx?raw=true")

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.4.46)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=32df249ba1c8dd060c1614c8f93d44708b19b742adbf9a3367aab0720510bb02
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
#Q1-List all rows and columns of student table
txt='''

'''
Q1 =  psql.sqldf(txt)
Q1

          StdNo StdFirstName StdLastName  ... StdMajor StdClass StdGPA
0   123-45-6789        HOMER       WELLS  ...       IS       FR    3.0
1   124-56-7890          BOB     NORBERT  ...      FIN       JR    2.7
2   234-56-7890        CANDY     KENDALL  ...     ACCT       JR    3.5
3   345-67-8901        WALLY     KENDALL  ...       IS       SR    2.8
4   456-78-9012          JOE     ESTRADA  ...      FIN       SR    3.2
5   567-89-0123       MARIAH       DODGE  ...       IS       JR    3.6
6   678-90-1234         TESS       DODGE  ...     ACCT       SO    3.3
7   789-01-2345      ROBERTO     MORALES  ...      FIN       JR    2.5
8   876-54-3210   CRISTOPHER       COLAN  ...       IS       SR    4.0
9   890-12-3456         LUKE      BRAZZI  ...       IS       SR    2.2
10  901-23-4567      WILLIAM     PILGRIM  ...       IS       SO    3.8

[11 rows x 9 columns]

In [ ]:
#Q2-List student first name and last name
txt='''

'''
Q2 =  psql.sqldf(txt)
Q2

   StdFirstName StdLastName
0         HOMER       WELLS
1           BOB     NORBERT
2         CANDY     KENDALL
3         WALLY     KENDALL
4           JOE     ESTRADA
5        MARIAH       DODGE
6          TESS       DODGE
7       ROBERTO     MORALES
8    CRISTOPHER       COLAN
9          LUKE      BRAZZI
10      WILLIAM     PILGRIM

In [ ]:
#Q3-List student first name and last name whose major is 'IS'
txt='''


'''
Q3 =  psql.sqldf(txt)
Q3

  StdFirstName StdLastName
0        HOMER       WELLS
1        WALLY     KENDALL
2       MARIAH       DODGE
3   CRISTOPHER       COLAN
4         LUKE      BRAZZI
5      WILLIAM     PILGRIM

In [ ]:
#Q4-List student first name and last name whose major is 'ACCT' and student class is sophomere ('SO')
txt='''

'''
Q4 =  psql.sqldf(txt)
Q4

  StdFirstName StdLastName
0         TESS       DODGE

In [ ]:
#Q5-List all student with student GPA is greater than 3.1
txt='''

'''
Q5 =  psql.sqldf(txt)
Q5

,StdNo,StdFirstName,StdLastName,StdCity,StdState,StdZip,StdMajor,StdClass,StdGPA
0,234-56-7890,CANDY,KENDALL,TACOMA,WA,99042-3321,ACCT,JR,3.5
1,456-78-9012,JOE,ESTRADA,SEATTLE,WA,98121-2333,FIN,SR,3.2
2,567-89-0123,MARIAH,DODGE,SEATTLE,WA,98114-0021,IS,JR,3.6
3,678-90-1234,TESS,DODGE,REDMOND,WA,98116-2344,ACCT,SO,3.3
4,876-54-3210,CRISTOPHER,COLAN,SEATTLE,WA,98114-1332,IS,SR,4.0
5,901-23-4567,WILLIAM,PILGRIM,BOTHELL,WA,98113-1885,IS,SO,3.8

In [ ]:
#Q6-List all student with student GPA is between 3.3 and 3.8 (3.3 and 3.8 is included)
txt='''

'''
Q6 =  psql.sqldf(txt)
Q6

,StdNo,StdFirstName,StdLastName,StdCity,StdState,StdZip,StdMajor,StdClass,StdGPA
0,234-56-7890,CANDY,KENDALL,TACOMA,WA,99042-3321,ACCT,JR,3.5
1,567-89-0123,MARIAH,DODGE,SEATTLE,WA,98114-0021,IS,JR,3.6
2,678-90-1234,TESS,DODGE,REDMOND,WA,98116-2344,ACCT,SO,3.3
3,901-23-4567,WILLIAM,PILGRIM,BOTHELL,WA,98113-1885,IS,SO,3.8

In [ ]:
#Q7-List unique faculty department
txt='''

'''
Q7 =  psql.sqldf(txt)
Q7

  FacRank
0    ASST
1    PROF
2    ASSC

In [ ]:
#Q8-List all faculty information if faculty rank  is ASST or ASSC
txt='''

'''
Q8 =  psql.sqldf(txt)
Q8

         FacNo FacFirstName FacLastName  ... FacDept FacRank FacSalary
0  098-76-5432      LEONARD       VINCE  ...      MS    ASST     35000
1  654-32-1098      LEONARD       FIBON  ...      MS    ASSC     70000
2  876-54-3210   CRISTOPHER       COLAN  ...      MS    ASST     40000
3  987-65-4321        JULIA       MILLS  ...     FIN    ASSC     75000

[4 rows x 8 columns]

In [ ]:
#Q9-List all faculty information when faculty rank is not  ASST and ASSC
txt='''

'''
Q9 =  psql.sqldf(txt)
Q9

         FacNo FacFirstName FacLastName  ... FacDept FacRank FacSalary
0  543-21-0987     VICTORIA    EMMANUEL  ...      MS    PROF    120000
1  765-43-2109        NICKI       MACON  ...     FIN    PROF     65000

[2 rows x 8 columns]

In [ ]:
#Q10-List  courses related information
#for the courses containing the string 'BUSINESS' in the course description.
txt='''

'''
Q10 =  psql.sqldf(txt)
Q10

  CourseNo                               CrsDesc  CrsUnits
0    IS320  FUNDAMENTALS OF BUSINESS PROGRAMMING         4
1    IS470          BUSINESS DATA COMMUNICATIONS         4